/*--responsive design--*/
@media(max-width:1280px){
.search {
	width: 65%;
}	
.search input[type="text"] {
	width: 75%;
}
ul.bag {
	width:29%;
}
ul.clock {
	width: 37%;
}
.header_bottom_right {
	width: 50%;
}
.search {
	width: 60%;
	margin-right: 5%;
}
ul.bag {
	width: 35%;
}
ul.list1 li.list1_right p {
	font: 500 13px/14px 'Raleway', sans-serif;
	margin-top: 28px;
	line-height:1.5em;
}	
.column_center h1 {
	font: 600 27px/27px 'Raleway', sans-serif;
}
.desc h3 {
	font-size: 1em;
}
.link {
	background: url(../images/cart.png) no-repeat 2px 1px;
	padding: 5px 5px 10px 28px;
	font-size: 12px;
}
span.m_1, span.m_2{
	padding: 7px 0;
}
.link1 {
	background: url(../images/arrow.png) no-repeat 2px 1px;
	padding: 5px 5px 5px 25px;
	font-size: 12px;
}
}
@media(max-width:1024px){
.search {
	width: 52%;
}	
.search input[type="submit"] {
	background: url('../images/search.png') no-repeat 13px 9px #e05b5b;
	padding: 10.5px 25px;
}
.search input[type="submit"]:hover {
	background: url('../images/search.png') no-repeat 24px 10px #1bccf7;
}
.search input[type="text"] {
	padding: 13px;
}
i.bag_left {
	width: 40px;
	height: 44px;
	background: url(../images/img-sprite.png)no-repeat -52px 2px #e05b5b;
}
ul.bag li.bag_right {
	padding: 15px 3px;
	width: 65px;
}
ul.bag {
	width:31%;
}	
.heart {
	bottom: 108px;
	right: 170px;
}
.grid-flex h4 {
	font-size: 0.85em;
}
.nbs-flexisel-item p {
	font-size: 0.85em;
}
.link2 {
	background: url(../images/cart1.png) no-repeat 5px 2px;
	padding: 10px 15px 10px 45px;
	font-size: 14px;
}
.thumb {
	width: 273px;
	height: 230px;
	background-size: 100%;
}
span.countDays, span.countHours, span.countMinutes {
	margin-right: 17px;
}
ul.navigation li {
	margin-right: -7px;
	font-size: 11px;
}
p.timeRefDays {
	padding-left: 8px;
}
.thumb_desc h3 {
	font-size: 1.3em;
}
.link3 {
	font-size: 25px;
}
.right-grid {
	width: 72%;
	margin-right: 3%;
}
.right-grid p {
	font-size:0.8125em;
}
.mens-toolbar .pager {
	width: 42.5%;
}
.mens-toolbar .sort {
	width: 31.5%;
}
.images_3_of_2 {
	width: 46.2%;
	margin-right: 2.6%;
}
.span_3_of_2 {
	width: 50.3333%;
}
span.reducedfrom {
	font-size: 22px;
}
.blog-poast-admin {
	bottom: 9.6em;
}
.grid-flex {
	min-height:100px;
}
}
@media(max-width:800px){
.search {
	width: 52%;
}	
.search input[type="submit"] {
	background: url('../images/search.png') no-repeat 13px 9px #e05b5b;
	padding: 10.5px 25px;
}
.search input[type="submit"]:hover {
	background: url('../images/search.png') no-repeat 13px 9px #1bccf7;
}
.search input[type="text"] {
	padding: 13px;
}
i.bag_left {
	width: 40px;
	height: 44px;
	background: url(../images/img-sprite.png)no-repeat -52px 2px #e05b5b;
}
ul.bag li.bag_right {
	padding: 15px 3px;
}
ul.bag {
	width:31%;
}
.box2, .box3, .box4, .box5{
	background-size: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
}
ul.list1 li.list1_right p {
	font: 500 25px/25px 'Raleway', sans-serif;
	margin-top: 37px;
}
.box_inner {
	text-align: center;
}
.box_inner img{
	display:inline-block;
}
.heart {
	bottom: 108px;
	right: 445px;
}
.link2 {
	padding: 10px 15px 10px 40px;
	font-size:12px;
}
.grid-flex h4 {
	font-size: 12px;
}
.m_3 {
	margin-top: 1.5em;
}
.grid-flex {
	min-height:100px;
}
.span_1 {
	margin-bottom: 2em;
}
.timer_box {
	margin-bottom: 3em;
}
.sidebar {
	margin-bottom: 2em;
}
.single_top {
	margin-bottom: 4em;
}
.men {
	padding: 5em 0 2em;
}
.login-left {
	margin-bottom: 3em;
}
}
@media(max-width:768px){
.header_bottom {
	padding: 2em 0 2em;
}
.thumb {
	border-bottom: none;
}
.thumb_desc {
	border-top:3px solid #8cb273;
}
.content_bottom {
	margin-bottom:3em;
}
.blog-poast-admin {
	bottom: 8.6em;
}
.cssmenu ul li a {
	margin:10px 5px;
}	
.header-top-left {
	width: 49.5%;
}
.col-md-4.contact-top_right {
	margin-top: 3em;
}
.header_bottom_right {
	width: 55%;
}
.header_bottom_left {
	width: 42%;
}
.search {
	width: 64%;
}
.col-sm-3.grid_1 {
	width: 50%;
	float: left;
}
}
@media(max-width:667px){
.header_bottom_left {
	width: 45%;
}
ul.bag {
	width: 0;
}
}
@media(max-width:640px){
.header_bottom_left {
	width: 46%;
}
.header_bottom_right {
	width: 44%;
}
.search input[type="submit"] {
	background: url('../images/search.png') no-repeat 7px 8px #e05b5b;
	padding: 9.5px 20px;
}
.search input[type="text"] {
	padding: 12px;
}
.search input[type="submit"]:hover {
	background: url('../images/search.png') no-repeat 7px 8px #1bccf7;
}
ul.bag li.bag_right {
	display: none;
}
i.bag_left {
	width: 40px;
	height: 42px;
	background: url(../images/img-sprite.png)no-repeat -52px 1px #E05B5C;
}
.search {
	width: 63%;
}
.images_3_of_2 {
	width: 100%;
	margin-right: 0;
	float: none;
}
.span_3_of_2 {
	width: 100%;
	float: none;
}
.header-top-left {
	display: none;
}	
.cssmenu ul {
	float: none;
	text-align: center;
}
ul.bag{
	display: none;
}
.logo img{
	width:90px;
}
.logo {
	width: 100%;
	float: none;
	margin-right: 0;
	padding-top:5px;
}
.search {
	width: 100%;
}
.header_bottom {
	padding: 1em 0;
}
}
@media(max-width:480px){
ul.list1 li.list1_right p {
	font: 500 16px/16px 'Raleway', sans-serif;
	margin-top: 40px;
}
.column_center h1 {
	font: 600 18px/18px 'Raleway', sans-serif;
}
.column_center h2 {
	font: 500 14px/20px 'Raleway', sans-serif;
}
.heart {
	bottom: 108px;
	right: 236px;
}
.right-grid {
	width: 67%;
	margin-right: 3%;
}
.right-grid a {
	font-size: 14px;
}
ul.footer_nav li a {
	margin: 0 4px;
}
.men {
	padding: 2em 0 2em;
}
.grid_1 img, .span_1_of_single1 img {
	margin-bottom:0;
}
p.m_text2 {
	margin:10px 0 20px;
}
.blog-poast-admin {
	bottom:9.6em;
	width: 16%;
}
.comments-area input[type="text"], .comments-area textarea{
	padding:10px;
	width: 98%;
}
.comments-area input[type="submit"] {
	padding: 10px 10px;
	font-size: 0.85em;
}
.to input[type="text"] {
	width: 100%;
	float:none;
	margin-left:0 !important;
}
text input[type="text"], .text textarea {
	width: 100%;
}
.text {
	float: none;
	width: 100%;
}
.form-submit {
	float: none;
	margin: 0;
} 
.error-404 h1 {
	font-size: 6em;
}
}
@media(max-width:320px){
.logo img{
	width:80px;
}
.search input[type="submit"]{
	background: url('../images/search.png') no-repeat 5px 6px #e05b5b;
	padding: 7.5px 17px;
}
.search input[type="submit"]:hover {
	background: url('../images/search.png') no-repeat 5px 6px #1bccf7;
}
.search input[type="text"] {
	padding: 10px;
}
ul.list1 li.list1_right p {
	font: 500 13px/18px 'Raleway', sans-serif;
	margin-top: 32px;
}
.box2, .box3, .box4, .box5 {
	min-height: 50px;
}
.column_center h1 {
	font: 600 15px/23px 'Raleway', sans-serif;
}
ul.sellers li.sellers_desc h2, ul.spinner li.spinner_head h3 {
	font: 700 20px/30px 'Raleway', sans-serif;
}
.heart {
	bottom: 108px;
	right: 178px;
}
.thumb {
	width: 233px;
	height: 212px;
	background-size: 100%;
}
.thumb_desc h3 {
	font-size: 1.1em;
}
.link3 {
	background: url(../images/cart2.png) no-repeat 5px 5px;
	padding: 15px 0 10px 60px;
	font-size:20px;
}
.left-grid {
	width: 26%;
}
.but {
	margin-top: 1em;
}
.content_middle_bottom {
	padding: 1em 0;
}
.map iframe {
	min-height:200px;
}
.mens-toolbar .sort {
	width: 100%;
	float: none;
}
.mens-toolbar .pager {
	width: 100%;
	float: none;
	text-align: left;
}
.pager .sort-by {
	float: none;
}
.contact-top h1, .contact-top_right h2{
	font-size: 1.1em;
	margin-bottom: 0.5em;
}
.span_3_of_2 h1 {
	font-size: 1em;
}
p.m_5 {
	font-size: 1.2em;
}
span.reducedfrom {
	font-size: 13px;
}
.register-top-grid div, .register-bottom-grid div {
	width: 100%;
	float: none;
}
.blog-poast-admin {
	bottom: 15.6em;
	width: 20%;
}
.blog-poast-info ul li a {
	font-size: 12px;
}
p.m_10 {
	font-size: 0.8125em;
}
p.m_11{
	display:none;
}
.comments-area {
	margin-top: 2em;
}
.comments-area {
	margin-top: 2em;
}
.container {
	padding: 0;
}
.rslides img {
	min-height: 120px;
}
.col-md-3.span_6 {
	padding: 0;
}
.box_inner {
	width: 50%;
	float: left;
}
ul.list2 {
	display: none;
}
.desc h3 {
	font-size: 0.85em;
}
.desc h4 {
	margin-bottom: 1em;
	font-size: 0.8125em;
}
.content_middle {
	padding: 2em 0;
}
ul.promote {
	margin-bottom: 1em;
}
ul.promote li.promote_head h3 {
	font-size: 1.5em;
}
.content_bottom {
	margin-bottom: 1em;
}
ul.spinner {
	padding: 5px 0;
	margin: 0 0 1em;
}
.grid_2 {
	padding: 1em 0 2em;
}
ul.sellers {
	padding: 5px;
}
.pages {
	padding: 0 15px;
}
.comments-area h3 {
	font-size: 1.3em;
}
.span_2 {
	margin-bottom: 1em;
}
.toogle {
	margin-top: 4%;
	padding: 0 15px;
}
h4.head_single {
	margin: 2em 0 0em;
	padding: 0 15px;
}
}

