/*
Author: cclayout
Author URL: http://cclayouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
	background:#fff;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
}
.header_top{
	background:#11252F;
}
.header-top-left{
	width:54.5%;
	float:left;
	margin-top:5px;
}
.box{
	float:left;
	width:20.5%;
	margin-right:10.6%;
}
.box1{
	float:left;
	width:20.5%;
}
.cssmenu ul{
	float:right;
	padding:0;
	margin:0;
	list-style:none;
}
.cssmenu ul li {
	display: inline-block;
}
.cssmenu ul li a {
	color:#fff;
	display: block;
	margin:10px;
	font-size: 0.8125em;
}
.cssmenu li> a:hover {
	color: #ACEAFA;
	text-decoration:none;
}
/* PREFIXED CSS */
.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after,
.dropdown .carat,
.dropdown .carat:after,
.dropdown .selected::after,
.dropdown:after{
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
.dropdown .selected::after,
.dropdown.scrollable div::after{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}
/* WRAPPER */
.dropdown{
	position: relative;
	width:80px;
	cursor: pointer;
	font-weight: 200;
	background: none;
	padding: 8px 15px 5px;
	color: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.dropdown.open{
	z-index: 2;
}
.dropdown:hover,
.dropdown.focus{
	/*--background:#F7F7F7;--*/
}
/* CARAT */
.dropdown .carat,
.dropdown .carat:after{
	position: absolute;
	right:-1px;
	top: 50%;
	margin-top:0px;
	border: 4px solid transparent;
	border-top: 4px solid #c1c1c1;
	z-index: 1;
	-webkit-transform-origin: 50% 20%;
	-moz-transform-origin: 50% 20%;
	-ms-transform-origin: 50% 20%;
	transform-origin: 50% 20%;
}
.dropdown:hover .carat:after{
	border-top-color: #f4f4f4;
}
.dropdown.focus .carat{
	border-top-color: #f8f8f8;
}
.dropdown.focus .carat:after{
	border-top-color: #0180d1;
}
.dropdown.open .carat{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
/* OLD SELECT (HIDDEN) */
.dropdown .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}
.dropdown select{
	position: absolute;
	left: 0px;
	top: 0px;
}
.dropdown.touch select{
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
/* SELECTED FEEDBACK ITEM */ 
.dropdown .selected,
.dropdown li{
	display: block;
	font-size:11px;
	overflow: hidden;
	white-space: nowrap;
	text-transform: uppercase;
	font-weight:400;
}
.dropdown .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 60px;
}
/* DROP DOWN WRAPPER */
.dropdown div{
	position: absolute;
	height: 0;
	left: 13px;
	right: 0;
	top: 35px;
	background: #fb4d01;
	overflow: hidden;
	opacity: 0;
	color: #fff;
	width: 90px;
}
.dropdown:hover div{
	background:#4CB1CA;
}
/* Height is adjusted by JS on open */
.dropdown.open div{
	opacity: 1;
	z-index: 2;
}
/* FADE OVERLAY FOR SCROLLING LISTS */
.dropdown.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
}
.dropdown.scrollable.bottom div::after{
	opacity: 0;
}
/* DROP DOWN LIST */
.dropdown ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
	padding:0;
	background:#fd926d;
}
.dropdown.scrollable.open ul{
	overflow-y: auto;
}
/* DROP DOWN LIST ITEMS */
.dropdown li{
	list-style: none;
	padding:8px;
	border-bottom: 1px solid #ee4a02;
}
.dropdown li:last-child {
    border-bottom: 0;
}
/* .focus class is also added on hover */
.dropdown li.focus{
	background:#dd6b44;
	position: relative;
	z-index: 3;
	color: #fff;
}
.dropdown li.active{
	background:#ee4a02;
	color: #fff;
}
.header_bottom{
	padding:2em 0 4em;
	background: #183544
}
.header_bottom-box, .breadcrumb_cc, .header_top-box, .sellers_grid{
	padding:0 15px;
}
.header_bottom_left{
	width:40%;
	float:left;
}
.logo{
	width:25%;
	float:left;
	margin-right:25%;
}
.logo img {
	width: 5em;
	height: 5em;
}
.header_bottom_right{
	width:60%;
	float:right;
}
.search{
	float: left;
	width:70%;
	margin-right: 6%;
}
.search input[type="text"] {
	padding:15px;
	outline: none;
	color:#B6B2AE;
	background:#fff;
	border:1px solid #f8d5d1;
	width:85%;
	line-height: 1.5em;
	font: 500 13px/13px 'Raleway', sans-serif;
	-webkit-appearance: none;
}
.search input[type="submit"] {
	background: url('../images/search.png') no-repeat 24px 10px #f36f36;
	padding: 12.5px 38px;
	border: none;
	cursor: pointer;
	position: absolute;
	outline: none;
}
.search input[type="submit"]:hover{
	background: url('../images/search.png') no-repeat 24px 10px #f36f36;
}
ul.bag{
	padding:0;
	list-style:none;
	margin:0;
	float:left;
	width:24%;
}
ul.bag a:hover{
	text-decoration:none;
}
ul.bag a:hover li p{
	color:#fff;
}
i.bag_left{
	width: 80px;
	height: 46px;
	background: url(../images/img-sprite.png)no-repeat -32px 3px #f36f36;
	float: left;
	border-right: 1px solid #fff;
}
ul.bag li.bag_right{
	background:#f36f36;
	padding:16px 10px;
	overflow:hidden;
}
ul.bag li.bag_right p{
	font:500 14px/14px 'Raleway', sans-serif;
	color:#fff;
}
.menu {
	border-bottom:3px solid #e05b5b;
}
.h_nav ul li a {
	display: block;
	font-size: 0.85em;
	color: #555;
	text-transform: capitalize;
	line-height: 1.8em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	line-height: 2.5em;
}
.h_nav ul li a:hover{
	text-decoration:none;
	color:#f84545;
}
.h_nav h4 {
	font-size: 1em;
	color: #000;
	line-height: 1.8em;
	text-transform: uppercase;
	margin-bottom:1em;
}
.p_left{
	float:left;
	margin-right:1em;
	padding-bottom:2em;
}
.p_right{
	float:left;
}
.p_right h4{
	margin-bottom:-10px;
}
.p_right h4 a:hover, .small:hover{
	text-decoration:none;
	color: #f84545;
}
span.price{
	color: #f84545;
}
span.item-cat{
	color:#999;
}
span.item-cat:hover{
	color: #f84545;
}
.breadcrumb_cc{
	text-align: center;
	}
.breadcrumb_cc ul li {
	display: inline-block;
}
/*--slider--*/
/*--- slider-css --*/
.caption{
	width: 56%;
	position: absolute;
	top: 35%;
	left: 20%;
	text-align:center;
}
.caption h3{
	color: #FFF;
	font-weight: 700;
	font-size: 1.8em;
	text-transform: uppercase;
}
.caption p{
	color: #FFF;
	line-height: 1.5em;
	font-size: 0.875em;
	text-align: center;
	margin:1em 0 1.5em 0;
}
a.morebtn{
	background:#3D3D3D;
	padding:0.8em 0;
	display:block;
	font-size:0.875em;
	text-transform:uppercase;
	color:#FFF;
	width:20%;
	margin:0 auto;
	transition:0.5s all ease;
	-webkit-transition:0.5s all ease;
	-moz-transition:0.5s all ease;
	-o-transition:0.5s all ease;
	-ms-transition:0.5s all ease;
}
a.morebtn:hover{
	background:#585686;
}
.callbacks_tabs a{
	visibility:hidden;
}
.callbacks_tabs li{
	display:inline-block;
}
ul.callbacks_tabs.callbacks1_tabs {
	position: absolute;
	bottom: 14px;
	z-index: 999;
	left: 13px;
}
.callbacks_container {
	padding: 0 15px;
}
.box2{
	background:url(../images/feature.jpg)no-repeat;
	min-height:100px;
}
.box3{
	background:url(../images/feature1.jpg)no-repeat;
	min-height:100px;
}
.box4{
	background:url(../images/feature2.jpg)no-repeat;
	min-height:100px;
}
.box5{
	background:url(../images/feature3.jpg)no-repeat;
	min-height:100px;
}
.content_top {
	border-bottom: 1px solid #cac0ae;
}
.grid_1{
	padding:2em 0;
}
ul.list1{
	padding:0;
	list-style:none;
	margin:0;
}
ul.list1 li.list1_right{
	overflow:hidden;
	text-align: left;
}
ul.list1 li.list1_right p{
	font: 500 16px/16px 'Raleway', sans-serif;
	color: #fff;
	margin-top: 23px;
	line-height: 1.5em;
}
i.clock1,i.vehicle,i.dollar,i.lock{
	width: 80px;
	height: 94px;
	background: url(../images/img-sprite.png)no-repeat;
	float: left;
}
i.lock{
	background-position:-109px 6px;
}
i.clock1{
	background-position:-198px 9px;
}
i.vehicle{
	background-position:-293px 12px;
}
i.dollar{
	background-position:-380px 12px;
}
.column_center{
	text-align: center;
	border-bottom: 3px dotted #ECECEC;
	margin: 1em 0 2em;
}
.column_center h1{
	color:#583d28;
	font:600 40px/40px 'Raleway', sans-serif;
	text-transform:uppercase;
}
.column_center h2{
	color:#583d28;
	font:500 16px/30px 'Raleway', sans-serif;
}
ul.sellers{
	padding:10px;
	list-style:none;
	margin:0;
	background:#f6eddc;
	border:1px solid #E7E1D6;
}
i.star{
	width: 30px;
	height: 30px;
	background: url(../images/img-sprite.png)no-repeat -456px -18px;
	float: left;
	margin-right:1em;
}
ul.sellers li.sellers_desc{
	overflow:hidden;
}
ul.sellers li.sellers_desc h2{
	color: #583d28;
	font: 700 30px/30px 'Raleway', sans-serif;
	margin-bottom: 0;
}
.grid_2 {
	padding: 2em 0 3em;
}
.box_inner{
	position:relative;
	border: 1px solid #E7DFD1;
}
.sale-box {
	position: absolute;
	top: -1px;
	right: -1px;
	overflow: hidden;
	height: 40px;
	width: 59px;
	background: url(../images/img-sprite.png) no-repeat -3px -109px;
}
.box_inner:hover .sale-box{
	background: url(../images/img-sprite.png) no-repeat -3px -167px;
}
.desc{
	border-top: 1px solid #cac0ae;
	text-align:center;
	padding:1em 0 0 0;
}
.desc h3{
	color:#000;
	font-size:1.2em;
	font-weight:500;
}
.desc h4{
	color: #1bccf7;
	margin-bottom:1.5em;
	text-shadow: 1px 0px 0px #414141;
	-webkit-text-shadow: 1px 0px 1px #DFDFDF;
	-moz-text-shadow: 1px 0px 1px #DFDFDF;
	-o-text-shadow: 1px 0px 1px #DFDFDF;
	font-weight: 300;
	font-size: 1.1em;
}
ul.list2{
	padding:0;
	margin:0;
	list-style:none;
}
ul.list2 li.list2_left{
	float:left;
}
ul.list2 li.list2_right{
	float:right;
}
.box_inner:hover .heart{
	background: url(../images/img-sprite.png) no-repeat -91px -144px;
}
.heart {
	position: absolute;
	bottom: 116px;
	right: 221px;
	overflow: hidden;
	height: 30px;
	width: 32px;
	background: url(../images/img-sprite.png) no-repeat -91px -107px;
}
span.m_1{
	background: #91b677;
	background: -moz-linear-gradient(top,  #91b677 0%, #8ab071 47%, #85ac6b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91b677), color-stop(47%,#8ab071), color-stop(100%,#85ac6b));
	background: -webkit-linear-gradient(top,  #91b677 0%,#8ab071 47%,#85ac6b 100%);
	background: -o-linear-gradient(top,  #91b677 0%,#8ab071 47%,#85ac6b 100%);
	background: -ms-linear-gradient(top,  #91b677 0%,#8ab071 47%,#85ac6b 100%);
	background: linear-gradient(to bottom,  #91b677 0%,#8ab071 47%,#85ac6b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91b677', endColorstr='#85ac6b',GradientType=0 );
	padding:10px 0;
}
span.m_1:hover{
	background: #e05a5a;
	background: -moz-linear-gradient(top,  #e05a5a 0%, #dd5555 47%, #db5050 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e05a5a), color-stop(47%,#dd5555), color-stop(100%,#db5050));
	background: -webkit-linear-gradient(top,  #e05a5a 0%,#dd5555 47%,#db5050 100%);
	background: -o-linear-gradient(top,  #e05a5a 0%,#dd5555 47%,#db5050 100%);
	background: -ms-linear-gradient(top,  #e05a5a 0%,#dd5555 47%,#db5050 100%);
	background: linear-gradient(to bottom,  #e05a5a 0%,#dd5555 47%,#db5050 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e05a5a', endColorstr='#db5050',GradientType=0 );
}
span.m_2{
	background: #e05a5a;
	background: -moz-linear-gradient(top,  #e05a5a 0%, #dd5555 47%, #db5050 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e05a5a), color-stop(47%,#dd5555), color-stop(100%,#db5050));
	background: -webkit-linear-gradient(top,  #e05a5a 0%,#dd5555 47%,#db5050 100%);
	background: -o-linear-gradient(top,  #e05a5a 0%,#dd5555 47%,#db5050 100%);
	background: -ms-linear-gradient(top,  #e05a5a 0%,#dd5555 47%,#db5050 100%);
	background: linear-gradient(to bottom,  #e05a5a 0%,#dd5555 47%,#db5050 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e05a5a', endColorstr='#db5050',GradientType=0 );
	padding:10px 0;
}
span.m_2:hover{
	background: #91b677;
	background: -moz-linear-gradient(top,  #91b677 0%, #8ab071 47%, #85ac6b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91b677), color-stop(47%,#8ab071), color-stop(100%,#85ac6b));
	background: -webkit-linear-gradient(top,  #91b677 0%,#8ab071 47%,#85ac6b 100%);
	background: -o-linear-gradient(top,  #91b677 0%,#8ab071 47%,#85ac6b 100%);
	background: -ms-linear-gradient(top,  #91b677 0%,#8ab071 47%,#85ac6b 100%);
	background: linear-gradient(to bottom,  #91b677 0%,#8ab071 47%,#85ac6b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91b677', endColorstr='#85ac6b',GradientType=0 );
}
.link, .link1, .m3{
	text-shadow: 1px 1px 0px #B8B8B8;
	-webkit-text-shadow: 1px 1px 0px #B8B8B8;
	-moz-text-shadow: 1px 1px 0px #B8B8B8;
	-o-text-shadow: 1px 1px 0px #B8B8B8;
}
.link {
	background: url(../images/cart.png) no-repeat 5px 8px;
	display: inline-block;
	padding: 10px 15px 10px 35px;
	line-height: 19px;
	font-size: 0.8125em;
	font-style: normal;
	text-decoration: none;
	color: #fff;
}
.link1 {
	background: url(../images/arrow.png) no-repeat 5px 8px;
	display: inline-block;
	padding: 10px 15px 10px 35px;
	line-height: 19px;
	font-size: 0.8125em;
	font-style: normal;
	text-decoration: none;
	color: #fff;
}
a.link:hover, a.link1:hover{
	color: #E4F7FC;
	text-decoration:none;
}
.content_middle{
	background:#fff;
	padding:3em 0;
	border-bottom:7px solid #e8e3da;
}
ul.promote{
	padding:0;
	margin:0;
	list-style:none;
	text-align: center;
	margin-bottom:3em;
}
ul.promote li.promote_head{
	display: inline-block;
	vertical-align: super;
}
ul.promote li.promote_head h3{
	color:#553c28;
	font-size:2em;
	margin:0;
	font-weight:600;
}
i.promote_icon{
	width: 30px;
	height: 30px;
	background: url(../images/img-sprite.png)no-repeat -234px -150px;
	display: inline-block;
	margin-right:1em;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0 auto;
}
.nbs-flexisel-item {
	float: left;
	margin:0px;
	padding:0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
	margin-left: 30px;
	border: 1px solid #E7DFD1;
}
.nbs-flexisel-item:first-child{
	margin-left:0;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
.grid-flex{
	padding-top:1em;
	background: #f6eddc;
	min-height:125px;
}
.grid-flex h4{
	color: #000;
	font-size: 1.1em;
	font-weight: 500;
	margin-bottom:1.2em;
}
.nbs-flexisel-item a:hover{
	color:#555;
}
.nbs-flexisel-item p {
	color: #1bccf7;
	text-shadow: 1px 0px 0px #47DBFF;
	-webkit-text-shadow: 1px 0px 0px #47DBFF;
	-moz-text-shadow:1px 0px 0px #47DBFF;
	-o-text-shadow: 1px 0px 0px #47DBFF;
	font-weight: 300;
	font-size: 1.1em;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*** Navigation ***/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width:30px;
	height:30px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	margin-top:-0.5em;
}
.nbs-flexisel-nav-left {
	left: 0px;
	background: url(../images/img-sprite.png) no-repeat -145px -106px;
}
.nbs-flexisel-nav-right {
	right: 0px;
	background: url(../images/img-sprite.png) no-repeat -182px -106px;
}
.content_middle_bottom {
	padding:3em 0;
}
.m_3{
	background: #91b677;
	background: -moz-linear-gradient(top, #91b677 0%, #8ab071 47%, #85ac6b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91b677), color-stop(47%,#8ab071), color-stop(100%,#85ac6b));
	background: -webkit-linear-gradient(top, #91b677 0%,#8ab071 47%,#85ac6b 100%);
	background: -o-linear-gradient(top, #91b677 0%,#8ab071 47%,#85ac6b 100%);
	background: -ms-linear-gradient(top, #91b677 0%,#8ab071 47%,#85ac6b 100%);
	background: linear-gradient(to bottom, #91b677 0%,#8ab071 47%,#85ac6b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91b677', endColorstr='#85ac6b',GradientType=0 );
	margin-top: 2em;
}
.link2 {
	background: url(../images/cart1.png) no-repeat 5px 2px;
	display: inline-block;
	padding: 10px 15px 10px 65px;
	line-height: 19px;
	font-size:18px;
	font-style: normal;
	text-decoration: none;
	color: #fff;
}
.m_3:hover{
	background: #e05a5a;
	background: -moz-linear-gradient(top, #e05a5a 0%, #dd5555 47%, #db5050 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e05a5a), color-stop(47%,#dd5555), color-stop(100%,#db5050));
	background: -webkit-linear-gradient(top, #e05a5a 0%,#dd5555 47%,#db5050 100%);
	background: -o-linear-gradient(top, #e05a5a 0%,#dd5555 47%,#db5050 100%);
	background: -ms-linear-gradient(top, #e05a5a 0%,#dd5555 47%,#db5050 100%);
	background: linear-gradient(to bottom, #e05a5a 0%,#dd5555 47%,#db5050 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e05a5a', endColorstr='#db5050',GradientType=0 );
}
a.link2:hover{
	color:#fff;
	text-decoration:none;
}
.ticket {
	position: absolute;
	top: -1px;
	right: -1px;
	overflow: hidden;
	height: 40px;
	width: 59px;
	background: url(../images/img-sprite.png) no-repeat -147px -159px;
}
.timer_box{
	position:relative;
	border:5px solid #8cb273;
}
.thumb{
	width:340px;
	height:275px;
	background:url(../images/thumb1.jpg)no-repeat;
	display:block;
	border-bottom:3px solid #8cb273;
}
.timer_grid{
	position: absolute;
	top: 110px;
	background:rgba(250, 250, 250, 0.91);
	padding: 0 0 9px 0;
	width:100%;
	box-shadow: 0 0 10px #C7C7C7;
	-webkit-box-shadow: 0 0 10px #C7C7C7;
	-moz-box-shadow: 0 0 10px #C7C7C7;
	-o-box-shadow: 0 0 10px #C7C7C7;
}
/* ---------- TIMER ---------- */
span.countDays, span.countHours, span.countMinutes {
	margin-right:30px;
}
ul#countdown li p {
	font-size: 12px;
}
p.timeRefHours {
	padding-left:37px
}
p.timeRefDays {
	padding-left:20px;
}
p.timeRefMinutes {
	padding-left:26px
}
p.timeRefSeconds {
	padding-left:21px
}
ul.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.navigation li {
	display: inline-block;
	margin-right: 9px;
	color:#8cb273;
	font-size: 12px;
}
.thumb_desc{
	background:#fff;
	padding:1em 0;
	text-align:center;
}
.thumb_desc h3{
	color: #000;
	font-size: 1.5em;
	font-weight:500;
	text-transform: capitalize;
	margin-bottom: 0;
}
span.reducedfrom {
	text-decoration: line-through;
	margin-right: 3%;
	color:#000;
}
span.actual {
	color: #ee4a02;
	font-size: 1.5em;
	margin-right: 5%;
	font-weight: 500;
}
.deal{
	text-align:left;
	margin-top:0;
}
.link3 {
	background: url(../images/cart2.png) no-repeat 5px 9px;
	display: inline-block;
	padding: 20px 0 20px 80px;
	line-height: 19px;
	font-size: 30px;
	font-style: normal;
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 1px 0px #B8B8B8;
	-webkit-text-shadow: 1px 1px 0px #B8B8B8;
	-moz-text-shadow: 1px 1px 0px #B8B8B8;
	-o-text-shadow: 1px 1px 0px #B8B8B8;
}
ul.spinner{
	padding:10px 0;
	margin: 0 0 2em;
	list-style:none;
	background:#f6eddc;
	text-align: center;
}
i.spinner_icon{
	width: 30px;
	height: 30px;
	background: url(../images/img-sprite.png)no-repeat -288px -106px;
	float: left;
	margin: 0 1em;
}
ul.spinner li.spinner_head h3{
	margin-bottom: 0;
	color:#8E7558;
	font-weight: 600;
}
ul.spinner li.spinner_head{
	float:left;
}
i.paperclip{
	width: 30px;
	height: 30px;
	background: url(../images/img-sprite.png)no-repeat -290px -148px;
	float: left;
	margin: 0 1em;
}
.a-top {
	border-bottom: 3px dotted #E3E2E2;
	margin-bottom: 2em;
	padding-bottom: 0.7em;
}
.left-grid {
	width:10%;
	float: left;
	margin-right:4%;
}
.right-grid {
	width:71%;
	float: left;
	margin-right: 6%;
}
.right-grid a{
	color:#5C4A36;
}
.right-grid a:hover{
	color:#e57777;
	text-decoration:none;
}
.right-grid p{
	font-size:0.85em;
	line-height:1.5em;
	color:#8E7558;
}
.but{
	float: right;
	margin-top:3em;
}
a.arrow{
	background: url(../images/arrow1.png)no-repeat 17px 5px #88ae6f;
	padding: 5px 30px;
	text-align: center;
}
a.arrow:hover{
	background:url(../images/arrow1.png)no-repeat 17px 5px #e57777;
}
.content_bottom {
	margin-bottom: 5em;
}
i.box_icon{
	width: 30px;
	height: 30px;
	background: url(../images/img-sprite.png)no-repeat -344px -103px;
	float: left;
	margin: 0 1em;
}
i.bubble{
	width: 30px;
	height: 30px;
	background: url(../images/img-sprite.png)no-repeat -344px -148px;
	float: left;
	margin: 0 1em;
}
i.mail{
	width: 30px;
	height: 30px;
	background: url(../images/img-sprite.png)no-repeat -377px -103px;
	float: left;
	margin: 0 1em;
}
.span_1 p{
	font-size: 0.8125em;
	line-height: 1.5em;
	color: #8E7558;
	font-weight:500;
}
.span_1 p a{
	color: #8E7558;
}
.span_1 p a:hover{
	text-decoration:none;
	color: #ee4a02;
}
ul.social {
	padding: 0;
	margin:0;
	list-style: none;
}
ul.social li:first-child {
	margin-left: 0;
}
ul.social li {
	display: inline-block;
	margin-right: 10px;
}
ul.social li a i {
	width: 35px;
	height: 35px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat;
}
ul.social li a i.fb{
	background-position:-437px -102px;
}
ul.social li a i.tw{
	background-position:-394px -145px;
}
ul.social li a i.google{
	background-position:-445px -145px;
}
ul.social li a i.linkedin{
	background-position:-18px -222px;
}
ul.social li a i.skype{
	background-position:-64px -222px;
}
/*--footer--*/
.footer{
	padding:4em 0;
	background:#183544;
}
.cc_footer_grid h3{
	color: #fff;
    font-size: 1.5em;
    margin-bottom: 2em;
    padding-bottom: .5em;
    position: relative;
    text-transform: uppercase;
}
.cc_footer_grid h3:after{
	content:'';
	background:#f36f36;
	width:20%;
	height:2px;
	position:absolute;
	bottom:0;
	left:0;
}
.cc_footer_grid p{
	color:#fff;
	line-height:1.8em;
	margin-bottom:2em;
}
.cc_footer_grid ul li {
    list-style-type: none;
    margin-bottom: 1em;
    color: #fff;
	font-size: 14px;
	margin-left: -3em;
}
.cc_footer_grid ul.address li i {
    color:#f36f36;
    border: 1px solid #f36f36;
    padding: .5em;
    margin-right: 1em;
}
.cc_footer_grid ul.address li span {
    display: block;
     margin-left: 3em; 
}
.cc_footer_grid ul li a {
    color: #fff;
    text-decoration: none;
}
.cc_footer_grid ul li a:hover {
	color:#f36f36;
}
.cc_footer_grid ul.info li i {
    color:#f36f36;
    border: 1px solid #f36f36;
    padding: .5em;
    margin-right: 1em;
}
.cc_footer_grid ul.info li span {
    display: block;
     margin-left: 3em; 
}
.cc_footer_grid h4{
	margin:2em 0 1em;
	font-size:1.2em;
	color:#fff;
}
.footer-copy p{
	margin:4em 0 0;
	text-align:center;
	color:#fff;
	line-height:1.8em;
}
.footer-copy p a{
	color:#f36f36;
	text-decoration:none;
}
.footer-copy p a:hover{
	color:#fff;
}
/*--product--*/
.product{
	padding:5em 0;
}
.block .block-title {
	padding: 10px;
	background: #f36f36;
	min-height: 35px;
	background-size: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
}
.block .block-title strong {
	display: block;
	font: normal 14px/16px 'Raleway', sans-serif;
	min-height: 16px;
	padding: 1px 0 1px;
	text-transform: uppercase;
	color: #fff;
}
.block .block-content {
	padding: 10px;
}
.block .block-subtitle {
	margin: 0;
	padding: 5px 9px;
	font-size: 1em;
	font-weight: bold;
	color: #0a263c;
}
.block-layered-nav dt {
	padding:10px;
	font-weight: bold;
	text-transform: capitalize;
	color:#1bccf7;
}
.block-layered-nav dd ol{
	padding:0;
	margin:0;
	list-style:none;
}
.block-layered-nav dd {
	padding: 0 12px 12px;
	background: url(../images/block.gif) 0 100% repeat-x;
}
.block-layered-nav li {
	line-height: 25px;
	color:#e05b5b;
	font-size: 0.8125em;
}
.block-layered-nav li a {
	text-decoration: none;
	color:#8E7558;
	font-weight:500;
}
.block-layered-nav li a:hover{
	color:#e05b5b;
}
p.empty {
	margin: 0;
	padding: 5px 9px;
	font-size: 0.8125em;
	color:#8E7558;
	font-weight:500;
}
.mens-toolbar {
	margin: 0 0 12px;
	overflow: hidden;
	background: #f36f36;
	padding: 5px;
	border: none;
}
.mens-toolbar .sort {
	float: left;
	width: 30%;
}
.sort {
	padding: 3px 8px;
}
.sort-by {
	color: #fff;
	font-size: 0.8125em;
}
.sort-by label{
	margin-bottom:0;
}
.mens-toolbar .pager {
	padding: 5px 8px 3px 8px ;
	float: right;
	width: 45%;
	margin: 0;
}
.pager .sort-by {
	float: left;
	color:#fff;
	font-size: 0.8125em;
	margin: 0 1em
}
.pager .sort-by select {
	padding: 0;
	margin: 0 0 1px;
	vertical-align: middle;
	color:#000;
}
select {
	color: #000;
}
.cc_pagination div{
	float: right;
	background: blue
}
.cc_pagination ul li {
	float: left;
	margin: 0px;
	margin-left: 5px;
	padding: 0px;
}
.cc_pagination ul li a {
	color: #fff;
	display: block;
	padding: 2px 4px 0px 0px;
	text-decoration: none;
	font-size: 0.8125em;
	border: none;
	border-radius: inherit;
	background: none;
}
.pager .sort-by label {
	color: #fff;
	margin-bottom: 0;
	font-weight: 500;
}
.span_1_of_single1 {
	width: 30.7%;
	border: 1px solid #fff;
	text-align: center;
	padding: 0 0 0.5em 0;
}
.span_1_of_single1:hover{
	border: 1px solid #DDD;
	opacity: 1
}
.col_1_of_single1 {
	display: block;
	float: left;
	margin: 1% 0 1% 3.6%;
}
.col_1_of_single1:first-child {
	margin-left: 0;
}
 .grid_1 h3{
	font-size:1.5em;
	font-weight:500;
	color:#000;
	margin-bottom: 0;
}
.span_1_of_single1 h3{
	font-size:1.5em;
	font-weight:500;
	color:#000;
	margin-bottom: 1em;
}
.span_1_of_single1 h4{
	font-size:1.5em;
	font-weight:500;
	color:red;
	margin-bottom: 0;
}
.span_1_of_single1 p, .grid_1 p{
	font-size:0.8125em;
	color:#968F88;
	margin:5px 0;
}
.span_1_of_single1 a{
	text-decoration:none;
}
.span_2{
	margin-bottom:3em;
}
.span_1_of_single1:hover > a{
	opacity: 1;	
}
/*--Add To Card--*/
.add-to-card {	
	background: #f36f36;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	height: 2em;
	margin-top: 1em;
	opacity: 0
}
.add-to-card span{
	color: #fff;
}
/*--single--*/
.images_3_of_2 {
	width: 37.2%;
	float: left;
	margin-right: 2.6%;
}
.desc1 {
	display: block;
	float: left;
}
.span_3_of_2 {
	width: 59.3333%;
}
.span_3_of_2 h1{
	color: #555;
	font-size: 1.2em;
	text-transform: uppercase;
	margin-bottom: 10px;
}
p.m_5 {
	font-size: 1.8em;
	color: #555;
}
p.m_5 a {
	color: #3e3f3f;
	font-size:13px;
}
.add-to-cart-button a {
	cursor: pointer;
	border: none;
	outline: none;
	display: inline-block;
	font-size: 1em;
	padding: 10px 34px;
	background:#f36f36;
	text-decoration: none;
	color: #FFF;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
span.m_link a {
	color: #555;
	font-size: 0.85em;
	text-decoration: underline;
	text-transform: uppercase;
}
span.m_link a:hover{
	text-decoration:none;
}
.btn_form {
	margin:2em 0;
}
p.m_text2 {
	color: #777;
	font-size: 0.85em;
	line-height: 1.8em;	
	margin-top:10px;
}
.slider_flex{
	border:1px solid #f0f0f0;
}
.toogle {
	margin-top: 4%;
}
.toogle h2 {
	color: #555;
	font-size: 1.2em;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.grid_1{
	text-align:center;
}
.grid_1 img, .span_1_of_single1 img{
	margin-bottom:1em;
	display:inline-block;
}
.grid_1 a:hover{
	text-decoration:none;
}
h4.head_single{
	color: #555;
	font-size: 1.2em;
	text-transform: uppercase;
	margin: 3em 0 0em;
}
.error-404.text-center {
	min-height: 500px;
	margin-top: 5em;
}
.error-404 h1 {
	font-size: 12em;
	font-weight: 700;
	color:#1bccf7;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
.error-404 p {
	color: #4f4844;
	margin: 0;
	font-size: 1.2em;
	text-transform: uppercase;
}
a.b-home {
	background: #4f4844;
	padding: 0.8em 1.5em;
	display: inline-block;
	color: #FFF;
	text-decoration: none;
	margin-top: 1em;
}
a.b-home:hover{
	background:#1bccf7;
}
/*--login--*/
.login-left h3, .login-right h3 {
	color:#df1f26;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 600;
	padding-bottom: 0.5em;
}
.login-left p, .login-right p {
	color:#999;
	display: block;
	font-size:0.85em;
	margin: 0 0 1.5em 0;
	line-height: 1.8em;
}
.acount-btn {
	background:#1bccf7;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
}
.acount-btn:hover, .login-right input[type="submit"]:hover{
	background:#000;
	text-decoration:none;
	color:#fff;
}
.login-right form {
	padding: 1em 0;
}
.login-right form div {
	padding: 0 0 1.5em 0;
}
.login-right span {
	color: #555;
	font-size:0.8125em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}
.login-right input[type="text"] {
	border: 1px solid #DDDBDB;
	outline-color:#fb4d01;
	width: 96%;
	font-size:0.8125em;
	padding:10px;
	-webkit-appearance: none;
}
.login-right input[type="submit"] {
	background:#1bccf7;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
.login-right input[type="submit"]:hover{
	background:#000;
}
a.forgot {
	font-size:0.8125em;
}
h4.title {
	color: #000;
	margin-bottom: 0.5em;
	
	text-transform: uppercase;
	border-bottom: 1px solid #DFDDDD;
	padding-bottom: 13px;
}
p.cart {
	color: #999;
	line-height: 1.8em;
}
/*--register--*/
.register-top-grid h3, .register-bottom-grid h3 {
	color:#df1f26;
	font-size: 1em;
	padding-bottom: 5px;
	margin: 0;
	font-weight:600;
}
.register-top-grid div, .register-bottom-grid div {
	width: 48%;
	float: left;
	margin: 10px 0;
}
.register-top-grid span, .register-bottom-grid span {
	color:#999;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
	font-size:0.8125em;
}
.register-top-grid input[type="text"], .register-bottom-grid input[type="text"] {
	border: 1px solid #EEE;
	outline-color:#FF5B36;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
	-webkit-appearance: none;
}
.checkbox {
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 1.1em;
	line-height: 27px;
	cursor: pointer;
}
.checkbox {
	position: relative;
	color:#555;
}
.checkbox:last-child {
	margin-bottom: 0;
}
.news-letter {
	color: #555;
	font-weight:600;
	font-size: 0.85em;
	margin-bottom: 1em;
	display: block;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	clear: both;
}
.checkbox i {
	position: absolute;
	bottom: 5px;
	left: 0;
	display: block;
	width:20px;
	height:20px;
	outline: none;
	border: 2px solid #D2CF99;
}
.checkbox input + i:after {
	content: '';
	background: url("../images/tick1.png") no-repeat 1px 2px;
	top: -1px;
	left: -1px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}
.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.checkbox input {
	position: absolute;
	left: -9999px;
}
.checkbox input:checked + i:after {
	opacity: 1;
}
.news-letter:hover {
	color:#00BFF0;
}
.register-but{
	margin-top:1em;
}
.register-but form input[type="submit"] {
	background:#df1f26;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.8em 2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
.register-but input[type="submit"]:hover {
	background:#000;
}
div.register-bottom-grid {
	margin-top:3em;
}
/*--contact--*/
.to input[type="text"] {
	padding: 10px;
	width: 29%;
	font-size: 0.85em;
	margin: 10px 0;
	border: 1px solid #DDD;
    color:#CBCBCB;
	background: none;
	float: left;
	outline: none;
	-webkit-appearance: none;
}
.text {
	float: left;
	width: 63%;
}
.text input[type="text"], .text textarea {
	width: 96.5%;
	font-size: 0.85em;
	margin: 10px 0;
	border: 1px solid #DDD;
	color:#CBCBCB;
	outline: none;
	background:none;
	height: 100px;
	padding: 10px;
	resize: none;
	-webkit-appearance: none;
}
.form-submit {
	float: left;
	margin: 10px 0px 0 6px;
}
.form-submit input[type="submit"]{
	background: #1bccf7;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
.form-submit input[type="submit"]:hover{
	background:#e05b5b;
}
.contact-top h1{
	color:#555;
	font-size:1.5em;
	text-transform:uppercase;
	margin-bottom:1em;
}
.contact-top_right h2{
	color:#555;
	font-size:1.5em;
	text-transform:uppercase;
	margin-bottom:1em;
}
ul.list {
	padding: 0;
	list-style: none;
}
ul.list li {
	color: #555;
	font-size: 0.8125em;
	line-height:2.5em;
	text-transform: uppercase;
}
ul.list li a{
	color:#000;
}
.map{
	margin-top:3em;
}
.map iframe{
	border:none;
	width:100%;
	min-height:300px;
}
/*--cart--*/
.cart-container h3{
	font-size:1em;
	color:#212121;
	text-transform:uppercase;
}
.cart-container h3 span{
	color:#f36f36;
}
.table-cart-items th:nth-child(1){
	width: 2em
}
.table-cart-items th:nth-child(2){
	width: 15em
}
.table-cart-items th:nth-child(3){
	width: 12em
}
.table-cart-items th:nth-child(5){
	width: 10em
}
.table-cart-items th:nth-child(6){
	width: 4em
}
.checkout h3{
	font-size:1em;
	color:#212121;
	text-transform:uppercase;
	margin:5em 0 0;
}
.checkout h3 span{
	color:#f36f36;
}
table.table-cart-items {
	width:100%;
	margin:0 auto;
}
.table-cart-items thead {
    background:#F2F2F2;
}
.table-cart-items th{
    background:none;
    color:#212121 !important;
    text-transform: capitalize;
    font-size: 13px;
    border-right: 1px solid #C5C5C5;
    border-top: 1px solid #C5C5C5;
}
.table-cart-items th:nth-child(1) {
    border-left: 1px solid #C5C5C5;
}
.table-cart-items th, .table-cart-items td {
    text-align: center;
    padding: 7px;
    font-size: 14px;
    color: #212121;
}
.table-cart-items td {
	border:1px solid #CDCDCD;
}
td.invert-image a img {
    width:30%;
    margin: 0 auto;
}
.invert .close {
	position: relative
}
.rem{
	display: flex;
	justify-content: center
}
.remove-cart-item {
    background: url('../images/close.png') no-repeat 0px 0px;
    width: 2.5em;
    height: 2.5em;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.checkout-left-basket h4{
	padding: 1em;
    background:#f36f36;
    font-size: 1.1em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 1em;
}
.checkout-left {
    margin: 2em 0 0;
}
.checkout-left-basket ul li{
	list-style-type:none;
	margin-bottom:1em;
	font-size:14px;
	color:#999;
	margin-left: -3em;
}
.checkout-left-basket {
    float: left;
    width: 25%;
}
.checkout-right-basket{
	float: right;
    margin-top: 0.5em;
}
.checkout-left-basket ul li span {
    float: right;
}
.checkout-left-basket ul li:nth-child(5) {
    font-size: 1em;
    color: #212121;
    font-weight: 600;
    padding: 1em 0;
    border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
    margin: 2em 0 0;
}
.checkout-right-basket a{
	padding:1em 2em;
	margin-left: 5px;
	color:#fff;
	font-size:1em;
	background:#f36f36;
	text-decoration:none;
}
.checkout-right-basket a span {
    top: 0.1em;
}
/*-- quantity-starts --*/
 .value-minus,
.value-plus,.value-minus1,
.value-plus1{
    height: 40px;
    line-height: 24px;
    width: 40px;
    margin-right: 3px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    color: #fff;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
	border:1px solid #b2b2b2;
	    vertical-align: bottom;
}
.quantity-select .entry.value-minus:before,
.quantity-select .entry.value-plus:before,.quantity-select .entry.value-minus1:before,
.quantity-select .entry.value-plus1:before{
	content: ""; 
	width: 13px;
	height: 2px; 
	background: #000;
	left: 50%;
	margin-left: -7px; 
	top: 50%;
	margin-top: -0.5px;
	position: absolute;
}
.quantity-select .entry.value-plus:after,.quantity-select .entry.value-plus1:after{
	content: "";
	height: 13px;
	width: 2px; 
	background: #000;
	left: 50%; 
	margin-left: -1.4px;
    top: 50%;
    margin-top: -6.2px;
	position: absolute;
}
.value,.value1  {
    cursor: default;
    width: 40px;
	height:40px;
    padding: 8px 0px;
    color: #A9A9A9;
    line-height: 24px;
    border: 1px solid #E5E5E5;
    background-color: #E5E5E5;
    text-align: center;
    display: inline-block;
	margin-right: 3px;
}
.quantity-select .entry.value-minus:hover,
 .quantity-select .entry.value-plus:hover,.quantity-select .entry.value-minus1:hover,
 .quantity-select .entry.value-plus1:hover{
	background: #E5E5E5;
}

.quantity-select .entry.value-minus,.quantity-select .entry.value-minus1{
    margin-left: 0;
}
/*--checkout--*/
.checkout-form{
	position:relative;
}
.checkout-form div{
	padding: 0;
}
.checkout-form span label{
	margin-top: 10px;
	color: #777777;
	display: block;
	font-size: 1em;
	padding-bottom: 5px;
	font-weight: normal;
}
.checkout-form input[type="text"], .checkout-form textarea ,
.checkout-form select{
	background: #FFFFFF;
	border: 1px solid #DDD;
	color: rgba(85, 81, 81, 0.84);
	padding: 4px;
	display: block;
	width: 100%;
	outline: none;
	border-radius: 0px;
	-webkit-appearance: none;
}
.checkout-form select option{
	background: #fff
}
.checkout-form textarea{
	resize:none;
	height:12em;	
	margin-bottom:0.5em;
}
.checkout-form input[type="button"]{
	margin-top: 10px;
	-webkit-appearance: none;
	border: none;
	outline: none;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	height: 3em;
	width: 100%;
	background: #f36f36;
	color: #fff;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.has-error{
	color: red;
}
.checkout-form  input[type="text"].has-error, .checkout-form textarea.has-error ,
.checkout-form select.has-error{
	border: 1px solid red;	
}